@model MaxFactry.Module.Crm.PresentationLayer.MaxCrmPersonViewModel

<div>@ViewBag.Message</div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
    
        if (!String.IsNullOrEmpty(Model.Id))
        {
        <fieldset>
            @Html.HiddenFor(m => m.Id)
            <legend>Edit Person</legend>
            @Html.DisplayFor(m => m.Id, additionalViewData: new { LabelColumnWidth = 2 })
            @Html.EditorFor(m => m.CurrentFirstName, additionalViewData: new { LabelColumnWidth = 2 })
            @Html.EditorFor(m => m.CurrentLastName, additionalViewData: new { LabelColumnWidth = 2 })
            @Html.EditorFor(m => m.MainPhone, additionalViewData: new { LabelColumnWidth = 2 })
            @Html.EditorFor(m => m.MainEmail, additionalViewData: new { LabelColumnWidth = 2 })


            @Html.EditorFor(m => m.Active, additionalViewData: new { LabelColumnWidth = 2, IsCheckBox = "true" })
            <div class="row">
                <div class="form-Person">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="input-Person">
                            <button type="submit" name="uoProcess" value="@MaxManageController.ProcessDelete" onclick="return (confirm('are you sure?'));" class="btn btn-danger">Delete</button>
                            <button type="submit" name="uoProcess" value="@MaxManageController.ProcessCancel" class="btn btn-default">Cancel</button>
                            <button type="submit" name="uoProcess" value="@MaxManageController.ProcessDone" class="btn btn-default">Done</button>
                            <button type="submit" name="uoProcess" value="@MaxManageController.ProcessSave" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
</fieldset>        
        }

    }

@section ScriptSection
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tooltipactive').tooltip({ container: 'body' });
        });
    </script>

}